/*
* @Author: Marte
* @Date:   2018-11-21 15:12:38
* @Last Modified by:   Marte
* @Last Modified time: 2018-11-27 20:36:05
*/
*{
    margin: 0;
    padding: 0;
    list-style: none;//去小圆点
    text-decoration: none;//去下划线
}
html,
body{
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    color: #3c3c3c;
    overflow-x: hidden;//横向滚动条消失
}
.wrapper{
    width: 100%;
    height: 100%;
}


/*上导航条*/
.wrapper .top-nav-wrap{
    width: 100%;
    height: 105px;
    // border: 1px solid green;
}
.wrapper .top-nav-wrap .top-nav{
    width: 1190px;
    height: 35px;
    // border: 1px solid black;
    margin: 0 auto;
}
.wrapper .top-nav-wrap .top-nav .top-nav-l{
    float: left;
}
.wrapper .top-nav-wrap .top-nav .top-nav-r{
    float: right;
}
.wrapper .top-nav-wrap .top-nav ul li{
    float: left;
    margin-right: 7px;
}
.wrapper .top-nav-wrap .top-nav a{
    color: #6c6c6c;
    font-size: 12px;
    line-height: 35px;
    padding: 0 6px;
    text-decoration: none;
    // text-decoration: underline;
}
.wrapper .top-nav-wrap .top-nav a:hover{
    color: #f40;
}
.wrapper .top-nav-wrap .top-nav .china{
    color: #3c3c3c;
    line-height: 35px;
    font-size: 13px;
}
.wrapper .top-nav-wrap .top-nav a.login{
    color: #f40;
}
.wrapper .top-nav-wrap .top-nav .c-span{
    padding: 0 6px;
}
.wrapper .top-nav-wrap .top-nav .bg-Pic{
    width: 6px;
    height: 3px;
    display: inline-block;
    background-size: 100% 100%;
    vertical-align: middle;
}
.wrapper .top-nav-wrap .top-nav .bg-Pic.xsj-Pic{
    background-image: url('./img/xsj.png');
    // width: 12px;
    // width: 12px;
}
.wrapper .top-nav-wrap .top-nav .bg-Pic.shopCar-Pic{
     background-image: url('./img/gwc.png');
     width: 12px;
     height: 12px;
}
.wrapper .top-nav-wrap .top-nav .bg-Pic.like-Pic{
     background-image: url('./img/star.png');
     width: 12px;
     height: 12px;
}
.wrapper .top-nav-wrap .top-nav .bg-Pic.web-nav-pic{
     background-image: url('./img/dh.png');
     width: 8px;
     height: 8px;
}
.wrapper .top-nav-wrap .top-nav .cut-off span{
    line-height: 35px;
    color: #ddd;
}
.wrapper .top-nav-wrap .ad-wrap{
    width: 100%;
    height: 70px;
    background-color: #4c174d;
}
.wrapper .top-nav-wrap .ad-wrap .ad{
    width: 1190px;
    margin: 0 auto;
}
.wrapper .top-nav-wrap .ad-wrap img{
    width: 100%;
    height: 70px;
}

/* 搜索区域 */
.wrapper .search-wrap{
    width: 100%;
    height: 97px;
    padding-top: 24px;
    // border: 1px solid red;
    background-color: #fff;
}
.wrapper .search-wrap .search-con{
    width: 1190px;
    height: 88px;
    margin: 0 auto;
    // border: 1px solid green;
}
.wrapper .search-wrap .search-con .logo-box{
    position: relative;
    top: -10px;
    display: inline-block;
    width: 190px;
    height: 105px;
    // border: 1px solid black;
    background-image: url(./img/logo.png);
    background-size: 100% 100%;
}
.wrapper .search-wrap .search-con .search-box{
    display: inline-block;
    width: 627px;
    height: 87px;
    // border: 1px solid #af3;
    vertical-align: top;
    margin-left: 50px;
}
.wrapper .search-wrap .search-con .search-box .search-t{
    width: 627px;
    height: 62px;
    // border: 1px solid #000;
}
.wrapper .search-wrap .search-con .search-box .search-t .search-tab{
    height: 22px;
    margin-left: 17px;
}
.wrapper .search-wrap .search-con .search-box .search-t .search-tab ul li{
    float: left;
    width: 36px;
    height: 22px;
    color: #f40;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    margin-right: 4px;
    // background-color: green;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    cursor: pointer;
}
.wrapper .search-wrap .search-con .search-box .search-t .search-tab ul li.select{
    color: #fff;
    font-weight: 700;
    background: linear-gradient(to right,#ff9000 0,#ff5000 100%);//从左至右渐变色
}
.wrapper .search-wrap .search-con .search-box .search-t .search-tab ul li:hover{
    background-color:#ffeee5;
}
.wrapper .search-wrap .search-con .search-box .search-t .search-panel{
    width: 627px;
    height: 40px;
    // border: 1px solid #dd2;
    position: relative;
}
.wrapper .search-wrap .search-con .search-box .search-t .search-panel .form{

}
.wrapper .search-wrap .search-con .search-box .search-t .search-panel form .btn{
    width: 74px;
    height: 40px;
    // border: 1px solid #000;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}
.wrapper .search-wrap .search-con .search-box .search-t .search-panel .btn button{
    border: none;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}
.wrapper .search-wrap .search-con .search-box .search-t .search-panel .search-inp-box{
    width: 551px;
    height: 36px;
    // border: 1px solid black;
    border: 2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
.wrapper .search-wrap .search-con .search-box .search-t .search-panel .search-inp{
    height: 36px;
    width: 472px;
    overflow: hidden;
}
.wrapper .search-wrap .search-con .search-box .search-t .search-panel .search-inp input{
    height: 24px;
    width: 472px;
    padding: 6px 16px;
    border: none;
    text-indent: 14px;//文字缩进
}
.wrapper .search-wrap .search-con .search-box .sousuo,
.wrapper .search-wrap .search-con .search-box .camera{
    display: inline-block;
    position: absolute;
}
.wrapper .search-wrap .search-con .search-box .sousuo{
    width: 14px;
    height: 14px;
    top: 11px;
    left: 14px;
    background-image: url(./img/fdj.png);
    background-size: 100% 100%;
}
.wrapper .search-wrap .search-con .search-box .camera{
    width: 20px;
    height: 22px;
    top: 10px;
    right: 90px;
    background-image: url(./img/camera.png);
    background-size: 100% 100%;
}
.wrapper .search-wrap .search-con .search-box .search-bl{
    width: 627px;
    height: 20px;
    // border: 1px solid #f40;
}
.wrapper .search-wrap .search-con .search-box .search-bl a{
    font-size: 12px;
    margin-right: 8px;
    color: #3c3c3c;
    text-decoration: none;
}
.wrapper .search-wrap .search-con .search-box .search-bl a.active,
.wrapper .search-wrap .search-con .search-box .search-bl a:hover{
    color: #ff5000;
}
.wrapper .search-wrap .search-con .code-box{
    display: inline-block;
    width: 76px;
    height: 90px;
    border: 1px solid #eee;
    vertical-align: top;
    margin-left: 120px;
    position: relative;
}
.wrapper .search-wrap .search-con .code-box a{
    text-decoration: none;
}
.wrapper .search-wrap .search-con .code-box .phone{
    color: #ff5000;
    font-size: 14px;
    line-height: 20px;
    margin-left: 7px;
}
.wrapper .search-wrap .search-con .code-box .code{
    display: inline-block;
    width: 62px;
    height: 62px;
    background-image: url('./img/ewm.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 6px;
}
.wrapper .search-wrap .search-con .code-box .close{
    position: absolute;
    display: inline-block;
    top: 0;
    left: -18px;
    border: 1px solid #eee;
    color: #ddd;
    font-size: 14px;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
}

/* 搜索区下的导航条*/
.wrapper .screen-nav{
    width: 1190px;
    height: 30px;
    // background-color: #f40;
    background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    margin: 0 auto;
}
.wrapper .screen-nav .screen-nav-con{
    width: 100%;
    height: 100%;
}
.wrapper .screen-nav .screen-nav-con h2{
    float: left;
    color: #fff;
    font-size: 16px;
    width: 190px;
    height: 100%;
    background-color: #ff5000;
    text-align: center;
    line-height: 30px;
}
.wrapper .screen-nav .screen-nav-con ul{
    float: left;
    // font-size: 16px;
    // height: 30px;
}
.wrapper .screen-nav .screen-nav-con ul li{
    float: left;
    margin: 0 3px;
    padding: 0 4px;
    position: relative;
}
.wrapper .screen-nav .screen-nav-con ul li:hover::before{
    // color: #f40;
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(./img/up.png);
    background-repeat: no-repeat;
    background-size: center;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -15px;
}
.wrapper .screen-nav .screen-nav-con ul li a{
    line-height: 30px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

/*主要图片展示内容*/
.wrapper .screen-box{
    width: 1190px;
    height: 632px;
    // border: 1px solid black;
    margin: 0 auto;//居中
}
.wrapper .screen-box .main{
    float: left;
    width: 890px;
    height: 632px;
    // border: 1px solid #000;
}
.wrapper .screen-box .main .main-inner{
    width: 890px;
    height: 522px;
    // border: 1px solid red;
}
.wrapper .screen-box .main .main-inner .inner-left{
    float: left;
    width: 190px;
    height: 522px;
    border: 1px solid #f40;
    border-top: none;
    background-color: #fff;
}
.wrapper .screen-box .main .main-inner .inner-left ul li{
    width: 145px;
    height: 32px;
    padding-left: 25px;
    padding-right: 19px;
    position: relative;
}
.wrapper .screen-box .main .main-inner .inner-left ul li a{
    font-size: 14px;
    font-weight: 400;
    color: #666;
    text-decoration: none;
    line-height: 32px;
}
.wrapper .screen-box .main .main-inner .inner-left ul li:hover{
    background-color: #ffe4dc;
}
.wrapper .screen-box .main .main-inner .inner-left ul li:hover a{
    color: #ff5000;
}
.wrapper .screen-box .main .main-inner .inner-left ul li a:hover{
    text-decoration: underline;
}
.wrapper .screen-box .main .main-inner .inner-left ul li span{
    display: inline-block;
    width: 5px;
    height: 8px;
    // border: 1px solid #000;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
    background-image: url(./img/yjt.png);
    background-size: 100% 100%;
}
.wrapper .screen-box .main .main-inner .inner-content{
    float: left;
    width: 520px;
    height: 522px;
    // border: 1px solid #000;
}
.wrapper .screen-box .main .main-inner .inner-content .pic-box{
    padding: 8px;
}
.wrapper .screen-box .main .main-inner .inner-content .pic-box img{
    width: 100%;
    height: 100%;
}
.wrapper .screen-box .main .main-inner .inner-content .inner-mall{
    width: 520px;
    height: 230px;
    padding: 0 8px;
}
.wrapper .screen-box .main .main-inner .inner-content .inner-mall .tm{
    font-size: 12px;
    color: #666;
}
.wrapper .screen-box .main .main-inner .inner-right{
    padding: 8px;
    width: 160px;
    height: 520px;
    float: left;
}
.wrapper .screen-box .main .main-inner .inner-right .hot{
    font-size: 12px;
    margin-top: 11px;
    color: #4c4c4c;
}
.wrapper .screen-box .main .main-bottom{
    width: 890px;
    height: 100px;
    // border: 1px solid black;
}
.wrapper .screen-box .main .main-bottom .content{
    background-color: #fff;
    padding: 14px 12px;
    margin-top: 10px;
    position: relative;
}
.wrapper .screen-box .main .main-bottom .content .logo-box{
    width: 180px;
    height: 73px;
    background-image: url(./img/tbtt.png);
    background-position: 100% 100%;
}
.wrapper .screen-box .main .main-bottom .content a{
    position: absolute;
    top: 14px;
    left: 200px;
    text-decoration: none;
}
.wrapper .screen-box .main .main-bottom .content a img{
    float: left;
    width: 130px;
    height: 73px;
    background-size: 100% 100%;
}
.wrapper .screen-box .main .main-bottom .content a h4{
    margin-top: 2px;
    margin-left: 144px;
    color: #333;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
}
.wrapper .screen-box .main .main-bottom .content a h4:hover{
    color: #ff5000;
}
.wrapper .screen-box .main .main-bottom .content a p{
    margin-left: 144px;
    color: #999;
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    margin-top: 3px;
    font-size: 14px;
}

/*右侧部分*/
.wrapper .screen-box .col-right{
    // border: 1px solid green;
    width: 290px;
    height: 632px;
    float: left;
    background-color: #fff;
    margin-left: 8px;
}
.wrapper .screen-box .col-right .member{
    width: 290px;
    height: 132px;
    // border-bottom: 1px solid #000;
    background-image: url(./img/bg.png);
    background-size: 100% 100%;
    // margin-top: 10px;
}
.wrapper .screen-box .col-right .member .member-head{
    width: 290px;
    height: 91px;
}
.wrapper .screen-box .col-right .member .member-head .header{
    width: 290px;
    height: 56px;
    // border-bottom: 1px solid black;
    text-align: center;
}
.wrapper .screen-box .col-right .member .member-head .header a{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    // border: 1px solid #000;
    background-image: url(./img/tx.jpg);
    background-size:100% 100%;
}
.wrapper .screen-box .col-right .member .member-head .info{
    text-align: center;
    display: block;
    width: 290px;
    height: 17px;
    color: #3c3c3c;
    font-size: 14px;
    line-height: 17px;
}
.wrapper .screen-box .col-right .member .member-head p{
    width: 290px;
    height: 17px;
    text-align: center;
    line-height: 17px;
}
.wrapper .screen-box .col-right .member .member-head p a{
    text-decoration: none;
    display: inline-block;
    width: 72px;
    height: 17px;
    border-radius: 9px;
    background-color: #ffe4dd;
    font-size: 12px;
    color: #ff5000;
    padding: 0 20px;
    position: relative;
}
.wrapper .screen-box .col-right .member .member-head p a span{
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    // border: 1px solid #000;
    background-image: url(./img/pics.png);
}
.wrapper .screen-box .col-right .member .member-head p a.icon span{
    background-position: 0 -572.5px;
}
.wrapper .screen-box .col-right .member .member-head p a.club span{
    background-position: 0 -528px;
}
.wrapper .screen-box .col-right .member .member-foot{
    width: 290px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    // border: 1px solid black;
}
.wrapper .screen-box .col-right .member .member-foot a{
    display: inline-block;
    height: 25px;
    width: 75px;
    background: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
    border-radius: 4px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 700px;
    text-decoration: none;
}
.wrapper .screen-box .col-right .member .member-foot a.login{
    width: 92px;
}
.wrapper .screen-box .col-right .message{
    width: 290px;
    height: 26px;
    // border: 1px solid black;
}
.wrapper .screen-box .col-right .message a{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #ffe4dd;
    text-decoration: none;
    color: #f40;
    font-size: 12px;
    text-align: center;
    line-height: 26px;
    position: relative;
}
.wrapper .screen-box .col-right .message a span{
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 9px;
    right: 52px;
    background-image: url(./img/ysj.png);
    background-size: 100% 100%;

}
.wrapper .screen-box .col-right .notice{
    // border: 1px solid black;
    height: 98px;
    width: 100%;
    padding-top: 10px;
}
.wrapper .screen-box .col-right .notice li{
    float: left;

}
.wrapper .screen-box .col-right .notice .title{
    height: 24px;
    width: 100%;
    padding: 0 8px;
    // border-bottom: 1px solid red;
    box-sizing: border-box;
}
.wrapper .screen-box .col-right .notice .title li{
    width: 32px;
    height: 20px;
    margin: 0 11px;
    text-align: center;
}
.wrapper .screen-box .col-right .notice .title li a{
    text-decoration: none;
    color: #3c3c3c;
    font-size: 13px;
    line-height: 20px;
    padding: 0 2px;
}
.wrapper .screen-box .col-right .notice .title li a.active{
    font-weight: 700;
    border-bottom: 2px solid #f40;
}
.wrapper .screen-box .col-right .notice .title li a:hover,
.wrapper .screen-box .col-right .notice .content li a.active,
.wrapper .screen-box .col-right .notice .content li a:hover{
    color: #f40;
}
.wrapper .screen-box .col-right .notice .content{
    height: 50px;
    width: 100%;
    padding: 9px;
    box-sizing: border-box;
    // border-bottom: 1px solid #000;
}
.wrapper .screen-box .col-right .notice .content li{
    width: 130px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.wrapper .screen-box .col-right .notice .content li a{
    text-decoration: none;
    font-size: 12px;
    color: #3c3c3c;
}
.wrapper .screen-box .col-right .module{
    width: 100%;
    height: 230px;
    // border: 1px solid #e35;
}
.wrapper .screen-box .col-right .module ul li{
    float: left;
    width: 72px;
    height: 75px;
    border: 1px solid #f4f4f4;
    box-sizing: border-box;
}
.wrapper .screen-box .col-right .module ul li:hover{
    border: 1px solid #f40;
}
.wrapper .screen-box .col-right .module ul li:hover a p{
    color: #f40;
}
.wrapper .screen-box .col-right .module ul li a{
    text-decoration: none;
    display: block;
    text-align: center;
}
.wrapper .screen-box .col-right .module ul li a span{
    display: inline-block;
    width: 24px;
    height: 24px;
    // border: 1px solid black;
    background-image: url(./img/pics.png);
    margin-top: 15px;
}
.wrapper .screen-box .col-right .module ul li a p{
    color: #333;
    font-size: 12px;
}
.wrapper .screen-box .col-right .module ul li a span.icon1{
    background-position: 0 0;
}
.wrapper .screen-box .col-right .module ul li a span.icon2{
    background-position: 0 -88px;
}
.wrapper .screen-box .col-right .module ul li a span.icon3{
    background-position: 0 -44px;
}
.wrapper .screen-box .col-right .module ul li a span.icon4{
    background-position: 0 -132px;
}
.wrapper .screen-box .col-right .module ul li a span.icon5{
    background-position: 0 -176px;
}
.wrapper .screen-box .col-right .module ul li a span.icon6{
    background-position: 0 -220px;
}
.wrapper .screen-box .col-right .module ul li a span.icon7{
    background-position: 0 -264px;
}
.wrapper .screen-box .col-right .module ul li a span.icon8{
    background-position: 0 -307px;
}
.wrapper .screen-box .col-right .module ul li a span.icon9{
    background-position: 0 -352px;
}
.wrapper .screen-box .col-right .module ul li a span.icon10{
    background-position: 0 -394px;
}.wrapper .screen-box .col-right .module ul li a span.icon11{
    background-position: 0 -441px;
}
.wrapper .screen-box .col-right .module ul li a span.icon12{
    background-position: 0 -483px;
}
.wrapper .screen-box .col-right .app{
    width: 100%;
    height: 110px;
}
.wrapper .screen-box .col-right .app h3{
    font-size: 14px;
    line-height: 30px;
    padding-left: 14px;
}
.wrapper .screen-box .col-right .app h3 .more{
    color: #333;
    font-size: 13px;
    font-weight: 300;
    float: right;
    padding-right: 14px;
    text-decoration: none;
}
.wrapper .screen-box .col-right .app h3 .more:hover{
    color:#f40;
}
.wrapper .screen-box .col-right .app li{
    width: 35px;
    height: 35px;
    float: left;
    margin: 11px;
}
.wrapper .screen-box .col-right .app li img{
    width: 100%;
    height: 100%;
}